/* CSS VARIABLES */
:root {
	/* COLORS */
	--primary-color: #65451f;
	--primary-dark-color: #382712;
	--secondary-color: #eac696;
	--light-color: #ffff;
	--gray-dark: #606060;

	/* FONT FAMILY */
	--heading-font: 'Josefin Sans', sans-serif;
	--body-font: 'Nunito Sans', sans-serif;
	--logo-font: 'Maven Pro', sans-serif;
}

/* LOGO */

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /* 10px  */
	height: 100vh;
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	line-height: 1.7;
	font-size: 1.6rem;
	color: var(--gray-dark);
	height: 100vh;
}

/* body (CONTAINER) */
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.header {
	position: fixed;
	background-color: var(--light-color);
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100000;
	margin: 0 auto;
	padding: 0 2rem;
	border-bottom: 1px solid var(--primary-color);
	@media (min-width: 900px) {
		padding: 0 7rem;
	}
}

.logo {
	display: flex;
	gap: 1rem;
	align-items: center;
	text-decoration: none;
}

.logo .logo__img {
	width: 3rem;
}

.logo .logo__text {
	font-family: var(--logo-font);
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.7rem;
	color: var(--primary-color);
}

@media (min-width: 900px) {
	.logo .logo__text {
		width: 30rem;
	}
}

/* hero */

/* nav */
.nav {
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
/*Styling Links*/

.nav__links {
	position: fixed;
	background: var(--primary-color);
	flex-direction: column;
	clip-path: circle(50px at 90% -20%);
	-webkit-clip-path: circle(50px at 90% -10%);
	transition: all 0.7s ease;
	pointer-events: none;
	width: 100%;
	height: 100vh;
}
.nav__links.open {
	right: 0%;
	top: 0;
	clip-path: circle(1000px at 90% -10%);
	-webkit-clip-path: circle(1000px at 90% -10%);
	pointer-events: all;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 2rem;
}

.nav__links.open a {
	text-decoration: none;
	color: var(--light-color);
	transition: all 0.3s ease-in-out;
	font-size: 2rem;
}

.nav__links li {
	opacity: 0;
}

li.fade {
	opacity: 1;
}

@media (min-width: 900px) {
	.nav__links {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 4rem;
		list-style: none;
		background: none;
		pointer-events: auto;
		clip-path: none;
		height: auto;
		width: 100%;
		justify-content: end;
	}

	.nav__links a {
		text-decoration: none;
		color: var(--gray-dark);
		transition: all 0.3s ease-in-out;
	}

	.nav__links li {
		position: relative;
		opacity: 1;
	}
	.nav__links li a:hover {
		color: var(--secondary-color);
	}
}

/* hamburger */
.hamburger {
	display: block;
	position: absolute;
	cursor: pointer;
	right: 0%;
	top: 50%;
	transform: translate(-5%, -50%);
	z-index: 2;
	transition: all 0.7s ease;

	@media (min-width: 900px) {
		display: none;
	}
}

.hamburger div {
	width: 30px;
	height: 3px;
	background: var(--primary-color);
	margin: 5px;
	transition: all 0.3s ease;
}

/*Animating Hamburger Icon on Click*/
.toggle div {
	background: var(--light-color);
}
.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	transition: all 0.7s ease;
	width: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

/* btn */

.contact-us {
	display: flex;
	justify-content: space-between;
}

.contact-us__main {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 12rem 4rem 4rem 8rem;
	justify-content: space-between;
}

@media (max-width: 1070px) {
	.contact-us__main {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 12rem 4rem 4rem 5rem;
		justify-content: space-between;
	}
}

.contact-us__btn {
	background-color: var(--primary-color);
	padding: 5px 1rem;
	border-radius: 4rem;
	transition: all 0.3s;
}

.contact-us__btn:hover {
	background-color: var(--primary-dark-color);
}

.contact-us__btn a {
	color: var(--light-color) !important;
	padding: 1rem;
	border-radius: 4rem;
}

.contact-us__info {
	display: flex;
	justify-content: space-between;
	gap: 3rem;
	align-items: center;
}

@media (max-width: 1070px) {
	.contact-us__info {
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;
	}
}

/* about us */

.about-us {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12rem 2.5rem 2.5rem 2.5rem;
	gap: 10rem;
	flex: 1;
}

@media (min-width: 1070px) {
	.about-us {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 10rem 4rem 4rem 4rem;
		gap: 20vw;
		flex: 1;
	}
}

.about-us__main {
	justify-content: space-between;
}

.about-us__info {
	justify-self: center;
	align-self: center;
	max-width: 60rem;
}

.about-us__heading {
	margin-bottom: 2rem;
}

.images-pair {
	position: relative;
	width: min-content;
	transform: translateX(-6rem);
}

.images-pair__img {
	width: 20rem;
	height: 36rem;
	box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.1);
	transition: all 0.3s;
	z-index: -1;
	cursor: pointer;
}

.images-pair__img:hover {
	transform: scale(1.05);
	outline: 4px solid var(--primary-color);
	outline-offset: 5px;
	z-index: 1;
}

@media (min-width: 1070px) {
	.images-pair {
		transform: translateX(0rem);
	}

	.images-pair__img {
		width: 30rem;
		height: 50rem;
		box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.1);
	}
}

.images-pair__img img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}
.images-pair__img--absolute {
	position: absolute;
	right: -60%;
	top: 15%;
}

/* Heading */
.heading_primary {
	font-family: var(--heading-font);
	color: var(--primary-color);
}

.heading_secondary {
	font-family: var(--heading-font);
	color: var(--primary-color);
	font-size: 1.5rem;
}

/* form */

.form {
	width: 50%;
	background-color: var(--secondary-color);
	min-height: calc(100vh - 8rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.form__group {
	display: flex;
	flex-direction: column;
	text-align: start;
	width: 40rem;
}

.form__label {
	font-family: var(--heading-font);
	color: var(--primary-color);
}

.form__input {
	padding: 1rem;
	border: none;
	outline: none;
	font-family: var(--body-font);
	border-radius: 4px;
	transition: all 0.3s;
}

textarea {
	resize: none;
}

.form__input:active,
.form__input:hover {
	outline: 2px solid var(--primary-color);
	outline-offset: 2px;
}

.form__options {
	display: flex;
	justify-content: end;
	width: 40rem;
	gap: 1.5rem;
}

.form__options .form__submit {
	padding: 1rem 2rem;
	border-radius: 4rem;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--light-color);
	transition: all 0.3s;
}

.form__options .form__submit:hover {
	background-color: var(--primary-dark-color);
}

.form__options .form__cancel {
	padding: 1rem 2rem;
	border-radius: 4rem;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid var(--primary-color);
	transition: all 0.3s;
}

.form__options .form__cancel:hover {
	background-color: var(--primary-color);
	border: 2px solid transparent;
	color: var(--light-color);
}

@media (max-width: 920px) {
	.contact-us {
		flex: 1;
	}
	.contact-us__main {
		gap: 3rem;
	}

	.contact-us__info {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.contact-us {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.form {
		min-width: 100%;
		min-height: 50rem;
		padding: 3rem;
	}

	.form__group {
		width: 90vw;
	}

	.form__options {
		width: 90vw;
	}
}

/* Loader */

.loader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1111111;
	backdrop-filter: blur(8px);
}

.loader {
	display: block;
	z-index: 99;
	margin-left: auto;
	margin-right: auto;
	width: 8rem;
	height: 8rem;
	border: 5px solid white;
	border-radius: 100%;
	animation: spin 7s ease-in-out;
	animation-iteration-count: infinite;
	transition-duration: 0.2s;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		border-bottom: solid 3px transparent;
		border-top: solid 3px transparent;
	}
	50% {
		transform: rotate(1800deg);
		border: 3px solid white;
		border-left: solid 3px transparent;
		border-right: solid 3px transparent;
	}
	100% {
		/*Reversed spinning*/
		transform: rotate(0deg);
		border-bottom: solid 3px transparent;
		border-top: solid 3px transparent;
	}
}

/* hero */
.hero {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.8)
		),
		url('./assets/hero.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
}

.hero__info {
	margin: 0 auto;
	max-width: 100rem;
	text-align: center;
	height: 85vh;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 0 3rem;
}

/* heading */

.heading {
	font-family: var(--heading-font);
}

.heading--primary {
	color: var(--light-color);
	font-size: clamp(4rem, 6vw, 3vw);
	margin-bottom: 3rem;
}

.button {
	width: 130px;
	height: 40px;
	color: var(--primary-color);
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;

	background: var(--secondary-color);
	width: 130px;
	height: 40px;
	line-height: 42px;
	padding: 0;
	border: none;
}

.button a {
	text-decoration: none;
	color: currentColor;
	display: block;
	width: 100%;
	height: 100%;
}

.button span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.button:before,
.button:after {
	position: absolute;
	content: '';
	right: 0;
	top: 0;
	background: var(--secondary-color);
	transition: all 0.3s ease;
}
.button:before {
	height: 0%;
	width: 2px;
}
.button:after {
	width: 0%;
	height: 2px;
}
.button:hover {
	background: transparent;
	box-shadow: none;
}
.button:hover:before {
	height: 100%;
}
.button:hover:after {
	width: 100%;
}
.button span:hover {
	color: var(--secondary-color);
}
.button span:before,
.button span:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	background: var(--secondary-color);
	transition: all 0.3s ease;
}
.button span:before {
	width: 2px;
	height: 0%;
}
.button span:after {
	width: 0%;
	height: 2px;
}
.button span:hover:before {
	height: 100%;
}
.button span:hover:after {
	width: 100%;
}

/* cards */
/*  */
.strength-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.strength-card h3 {
	margin-top: 2rem;
}

.strength-icon {
	border-radius: 100%;
	background-color: var(--secondary-color);
	font-size: 2.5rem;
	padding: 5px;
	width: 8rem;
	height: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*  */
.project-card {
	position: relative;
	transition: all 0.3s;
}

.project-card:hover {
	transform: scale(1.1);
}
.project-card:hover .project-card__img {
	transition: all 0.3s;
}
.project-card:hover .project-card__img {
	filter: contrast(130%);
}

.project-card__img {
	width: 25rem;
	height: 30rem;
}
.project-card__img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.project-card__heading {
	position: absolute;
	top: 1rem;
	left: -1rem;
	background-color: var(--primary-color);
	color: var(--light-color);
	padding: 1rem;
}

.testimonial-card {
	background-color: var(--secondary-color);
	box-shadow: 0px 7px 15px -3px rgba(0, 0, 0, 0.1);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	text-align: center;
	color: var(--primary-color);
	transition: all 0.3s;
}

.testimonial-card:hover .testimonial-card__img {
	filter: blur(1px) grayscale(50%);
}

.testimonial-card figcaption {
	position: relative;
}
.quote {
	position: absolute;
	width: 10rem;
}

.quote--normal {
	top: -8rem;
	left: -1rem;
}

.quote--flip {
	bottom: -2rem;
	right: -1rem;
	transform: scaleX(-1);
}

.testimonial-card__img {
	width: 4rem;
	height: 4rem;
	border-radius: 100%;
	overflow: hidden;
	transition: all 0.3s;
}

.testimonial-card__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.testimonial-card span {
	font-style: italic;
}

/* sections */
.main {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 10rem;
	padding-top: 8rem;
}

.main section {
	margin: 0 auto;
	max-width: 120rem;
}

.section-strengths {
	width: 100%;
}
.section-strengths .header-section {
	text-align: center;
}

.strengths_list {
	width: 100%;
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	justify-items: center;
}

.section-projects {
	width: 100%;
}

.projects_list {
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	justify-items: center;
}

.section-testimonials {
	width: 100%;
	padding-bottom: 4rem;
}

.testimonials_list {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	justify-items: center;
}

/*  */

.header-section {
	margin-bottom: 4rem;
	text-align: center;
}

.header-section p {
	color: var(--secondary-color);
}

/* footer */
.footer {
	background-color: var(--primary-color);
	color: var(--light-color);
	padding: 3rem 1rem;
	text-align: center;
}
