/* CSS VARIABLES */
:root {
	/* COLORS */
	--primary-color: #65451f;
	--primary-dark-color: #382712;
	--secondary-color: #eac696;
	--light-color: #ffff;
	--gray-dark: #606060;

	/* FONT FAMILY */
	--heading-font: 'Josefin Sans', sans-serif;
	--body-font: 'Nunito Sans', sans-serif;
	--logo-font: 'Maven Pro', sans-serif;
}

/* LOGO */

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /* 10px  */
	height: 100vh;
}

body {
	font-family: var(--body-font);
	line-height: 1.7;
	font-size: 1.6rem;
	color: var(--gray-dark);
	height: 100vh;
}

/* body (CONTAINER) */
.container {
	display: flex;
	flex-direction: column;
}

.header {
	width: 95%;
	margin: 0 auto;
	@media (min-width: 900px) {
		width: 90%;
	}
}

.logo {
	display: flex;
	gap: 1rem;
	align-items: center;
	text-decoration: none;
}

.logo .logo__img {
	width: 4rem;
}

.logo .logo__text {
	font-family: var(--logo-font);
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.7rem;
	color: var(--primary-color);
}

@media (min-width: 900px) {
	.logo .logo__text {
		width: 30rem;
	}
}

/* hero */

/* nav */
.nav {
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
/*Styling Links*/

.nav__links {
	position: fixed;
	background: var(--primary-color);
	flex-direction: column;
	clip-path: circle(50px at 90% -20%);
	-webkit-clip-path: circle(50px at 90% -10%);
	transition: all 0.7s ease;
	pointer-events: none;
	width: 100%;
	height: 100vh;
}
.nav__links.open {
	right: 0%;
	top: 0;
	clip-path: circle(1000px at 90% -10%);
	-webkit-clip-path: circle(1000px at 90% -10%);
	pointer-events: all;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 2rem;
}

.nav__links.open a {
	text-decoration: none;
	color: var(--light-color);
	transition: all 0.3s ease-in-out;
	font-size: 2rem;
}

.nav__links li {
	opacity: 0;
}

li.fade {
	opacity: 1;
}

@media (min-width: 900px) {
	.nav__links {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 4rem;
		list-style: none;
		background: none;
		pointer-events: auto;
		clip-path: none;
		height: auto;
		width: 100%;
		justify-content: end;
	}

	.nav__links a {
		text-decoration: none;
		color: var(--gray-dark);
		transition: all 0.3s ease-in-out;
	}

	.nav__links li {
		position: relative;
		opacity: 1;
	}
	.nav__links li a:hover {
		color: var(--secondary-color);
	}
}

/* hamburger */
.hamburger {
	display: block;
	position: absolute;
	cursor: pointer;
	right: 0%;
	top: 50%;
	transform: translate(-5%, -50%);
	z-index: 2;
	transition: all 0.7s ease;

	@media (min-width: 900px) {
		display: none;
	}
}

.hamburger div {
	width: 30px;
	height: 3px;
	background: var(--primary-color);
	margin: 5px;
	transition: all 0.3s ease;
}

/*Animating Hamburger Icon on Click*/
.toggle div {
	background: var(--light-color);
}
.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	transition: all 0.7s ease;
	width: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

/* btn */

.contact-us {
	display: flex;
	justify-content: space-between;
}

.contact-us__main {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 4rem 4rem 4rem 8rem;
	justify-content: space-between;
}

@media (max-width: 1070px) {
	.contact-us__main {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 4rem 4rem 4rem 5rem;
		justify-content: space-between;
	}
}

.contact-us__btn {
	background-color: var(--primary-color);
	padding: 5px 1rem;
	border-radius: 4rem;
	transition: all 0.3s;
}

.contact-us__btn:hover {
	background-color: var(--primary-dark-color);
}

.contact-us__btn a {
	color: var(--light-color) !important;
	padding: 1rem;
	border-radius: 4rem;
}

.contact-us__info {
	display: flex;
	justify-content: space-between;
	gap: 3rem;
	align-items: center;
}

@media (max-width: 1070px) {
	.contact-us__info {
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;
	}
}

/* Heading */
.heading_primary {
	font-family: var(--heading-font);
	color: var(--primary-color);
}

.heading_secondary {
	font-family: var(--heading-font);
	color: var(--primary-color);
	font-size: 1.5rem;
}

/* form */

.form {
	width: 50%;
	background-color: var(--secondary-color);
	min-height: calc(100vh - 8rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.form__group {
	display: flex;
	flex-direction: column;
	text-align: start;
	width: 40rem;
}

.form__label {
	font-family: var(--heading-font);
	color: var(--primary-color);
}

.form__input {
	padding: 1rem;
	border: none;
	outline: none;
	font-family: var(--body-font);
}

.form__options {
	display: flex;
	justify-content: end;
	width: 40rem;
	gap: 1.5rem;
}

.form__options .form__submit {
	padding: 1rem 2rem;
	border-radius: 4rem;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--light-color);
	transition: all 0.3s;
}

.form__options .form__submit:hover {
	background-color: var(--primary-dark-color);
}

.form__options .form__cancel {
	padding: 1rem 2rem;
	border-radius: 4rem;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid var(--primary-color);
	transition: all 0.3s;
}

.form__options .form__cancel:hover {
	background-color: var(--primary-color);
	border: 2px solid transparent;
	color: var(--light-color);
}

@media (max-width: 920px) {
	.contact-us {
		flex: 1;
	}
	.contact-us__main {
		gap: 3rem;
		padding: 3rem;
	}

	.contact-us__info {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.contact-us {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.form {
		width: 100%;
		min-height: 50rem;
	}
}
