.button {
	width: 130px;
	height: 40px;
	color: var(--primary-color);
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;

	background: var(--secondary-color);
	width: 130px;
	height: 40px;
	line-height: 42px;
	padding: 0;
	border: none;
}

.button a {
	text-decoration: none;
	color: currentColor;
	display: block;
	width: 100%;
	height: 100%;
}

.button span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.button:before,
.button:after {
	position: absolute;
	content: '';
	right: 0;
	top: 0;
	background: var(--secondary-color);
	transition: all 0.3s ease;
}
.button:before {
	height: 0%;
	width: 2px;
}
.button:after {
	width: 0%;
	height: 2px;
}
.button:hover {
	background: transparent;
	box-shadow: none;
}
.button:hover:before {
	height: 100%;
}
.button:hover:after {
	width: 100%;
}
.button span:hover {
	color: var(--secondary-color);
}
.button span:before,
.button span:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	background: var(--secondary-color);
	transition: all 0.3s ease;
}
.button span:before {
	width: 2px;
	height: 0%;
}
.button span:after {
	width: 0%;
	height: 2px;
}
.button span:hover:before {
	height: 100%;
}
.button span:hover:after {
	width: 100%;
}


.button--form {
	width: 130px;
	height: 40px;
	color: var(--light-color);
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	background: var(--primary-color);
	width: 130px;
	height: 40px;
	line-height: 42px;
	padding: 0;
	border: none;
}



.button--form span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.button--form:before,
.button--form:after {
	position: absolute;
	content: '';
	right: 0;
	top: 0;
	background: var(--primary-color);
	transition: all 0.3s ease;
}
.button--form:before {
	height: 0%;
	width: 2px;
}
.button--form:after {
	width: 0%;
	height: 2px;
}
.button--form:hover {
	background: transparent;
	box-shadow: none;
	color: var(--primary-color);
}
.button--form:hover:before {
	height: 100%;
}
.button--form:hover:after {
	width: 100%;
}
.button--form span:hover {
	color: var(--primary-color);
}
.button--form span:before,
.button--form span:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	background: var(--primary-color);
	transition: all 0.3s ease;
}
.button--form span:before {
	width: 2px;
	height: 0%;
}
.button--form span:after {
	width: 0%;
	height: 2px;
}
.button--form span:hover:before {
	height: 100%;
}
.button--form span:hover:after {
	width: 100%;
}